body{
    text-align: center;
    color: white;
    background-color: rgb(234, 0, 255);
}

.titulo {
    font-family: monospace;
    color: black;
}

.subtitulo {
    font-family: monospace;
}
